:root {
	--c-black: rgb(21, 2, 1);
	--c-blue: rgb(0, 33, 59);
	--c-green: rgb(206, 226, 223);
	font-family: sans-serif;
}
body {
	margin: 0;
}

h2 {
	position: relative;
	padding: 1rem;
	margin: 1.5rem 0;
	background-color: var(--c-blue);
	color: white;
	font-size: 1.8rem;
	line-height: 1;
	height: 1.8rem;
}
h2::before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 15px transparent;
	border-right: solid 20px var(--c-green);
}
h3 {
	margin: 1rem 0 1rem 1rem;
	padding: 0.4rem 0.6rem;
	color: var(--c-blue);
	background: var(--c-green);
	border-bottom: solid 3px var(--c-blue);
}

a {
	color: var(--c-blue);
	font-weight: 600;
}